# python compiled
__pycache__/
*.pyc 

# python env
.env/
.venv/

# editor files
.vscode/

# test files
test/

#voice_answer
ans.wav

#TOKEN
API_TOKEN

#database files
*.db 

#ans files
*.wav

# redis database files
*.rdb
