aiohttp>=3.7.4
async-timeout==3.0.1
attrs==20.3.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
discord==1.0.1
discord.py==1.7.1
filelock==3.0.12
idna==2.10
joblib==1.0.1
multidict==5.1.0
numpy==1.20.2
packaging==20.9
playsound==1.2.2
pycparser==2.20
pydantic==1.8.2
pygame==2.0.1
pyparsing==2.4.7
python-on-whales==0.16.0
regex==2021.4.4
requests==2.25.1
sacremoses==0.0.44
scipy==1.6.2
six==1.15.0
sounddevice==0.4.1
tokenizers==0.10.2
torch==1.8.1
tqdm==4.60.0
transformers==4.5.0
typer==0.3.2
typing-extensions==3.7.4.3
urllib3>=1.26.5
yarl==1.6.3
